# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=permieportal_dev
DATABASE_URL=postgres://postgres:your_password_here@localhost:5432/permieportal_dev

# Redis Configuration
REDIS_URL=redis://localhost:6379/1

# Prometheus Configuration
METRICS_USER=your_metrics_user
METRICS_PASSWORD=your_metrics_password

# Rails Configuration
RAILS_ENV=development
RAILS_MAX_THREADS=5
RAILS_SERVE_STATIC_FILES=true
